#title {
    background-color: #7579e7;
}
#ima{
    height: 70px;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

#pics {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    text-align: center;
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

img {
    height: 500px;
}

#images {
    padding: 1rem;
}

.ma {
    background-color: #9ab3f5;
    margin: 0cm;
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.navbar {
    padding-bottom: 0rem;
    padding-left: 0;
    padding-right: 0;
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: sans-serif;
    text-align: left;
}

#btn {
    margin-top: 4rem;
    margin-left: .8rem;
    margin-right: .8rem;
}

.img-fluid {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 6rem;
    margin-bottom: 0xrem;
    margin-top: 0;
    position: relative;
    z-index: 1
}


/* Testimonial Section */

#testimonials {
    background-color: #9ab3f5;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

#raw {
    text-align: center;
}

#e {
    font-size: 5rem;
    color: #9ab3f5;
}

#f {
    font-size: 5rem;
    color: #9ab3f5;
}

#g {
    font-size: 5rem;
    color: #9ab3f5;
}

#raw {
    padding: 7% 15%;
}

.i {
    margin: 2rem;
    font-size: 1.5rem;
    font-family: "Montserrat, sans-serif";
    font-weight: 900;
}

.j {
    color: #8f8f8f;
    font-size: 1rem;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #9ab3f5;
    color: #fff;
}

h2 {
    font-family: "Montserrat-bold";
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}

.ti {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
    text-align: center;
    background-color: #9ab3f5;
}

#press {
    background-color: #9ab3f5;
    text-align: center;
    padding: 3%;
}

.Image {
    width: 30%;
    margin: 20px 20px 50px;
}

.testimonial-text {
    background-color: #9ab3f5;
    text-align: center;
    padding: 7% 15%;
    text-align: center;
    background-color: #9ab3f5;
    color: #fff;
}

.HI {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
    text-align: center;
    background-color: #9ab3f5;
}

#LADY {
    background-color: #9ab3f5;
}

#testimonials {
    background-color: #9ab3f5;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#pricing {
    padding: 100px;
    text-align: center;
    background-color: #d7fbe8;
}

.pc {
    padding: 3% 2%;
    text-align: center;
}

#cta {
    background-color: #62d2a2;
    padding: 3rem;
    text-align: center;
    color: white;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}

.col-lg-6 {
    text-align: center;
}

.big-heading {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 4rem;
}

.cop {
    margin: 6rem;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

#features {
    background-color: #fff;
    position: relative;
    z-index: 100;
}

@media(max-width:1028px) {
    #title {
        text-align: center;
    }
    .img-fluid {
        position: static;
        transform: rotate(0deg);
        margin-top: 2rem;
    }
}

@media(max-width:1028px) {
    .testimonial-text {
        font-size: 2rem;
    }
    .big-heading {
        font-size: 2rem;
        padding-bottom: 5rem;
    }
}

.img-fluid {
    justify-content: left;
    text-align: left;
}

.dDL {
    text-align: left;
    font-weight: bolder;
}

.dDL ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.dDL ul li {
    width: 120px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.dDL ul li a {
    color: black;
}

.dDL .fa {
    margin-right: 0;
}

.SMB1 {
    display: none;
}

.SMB2 {
    display: none;
}

.SMB3 {
    display: none;
}

.dDL ul li:hover .SMB1 {
    display: block;
    position: absolute;
    margin-top: 0;
    margin-left: -15px;
}

.dDL ul li:hover .SMB1 ul {
    display: block;
    margin: 0
}

.dDL ul li:hover .SMB1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted blue;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.dDL ul li:hover .SMB1 ul li:last-child {
    border-bottom: none;
}

.dDL ul li:hover .SMB2 {
    display: block;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

.dDL ul li:hover .SMB2 ul {
    margin: 0;
    display: block;
}

.dDL ul li:hover .SMB2 ul li {
    width: 150px;
    padding: 0;
    border-bottom: 1px dotted blue;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.dDL ul li:hover .SMB2 ul li:last-child {
    border-bottom: none;
}

.B {
    color: black;
    font-weight: bolder;
}

#AV {
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
    background-color: #f67280;
}

.h {
    text-align: justify;
}

.Video {
    margin-left: 100px;
    height: 560px;
    width: 85%;
}

#GP {
    color: #62d2a2;
    font-size: 6rem;
}

.im {
    height: 100px;
    width: 120px;
}

.tran {
    transition: all 2s linear;
    padding-bottom: 1rem;
}

.tran:hover {
    transform: translateX(15px);
}
#small{
    height: 300px;
}
.contact{
    background-color: #7579e7;
    text-align: center;
}
#icon{
    font-size: 7rem;
    color: #b9fffc;
}
#MH{
    font-size: 4rem;
}
.YC{
    background-color: #7579e7;
    text-align: center;
}
#C{
        font-weight: 900;
        font-size: 2rem;
        line-height: 1.5;
        color: white;
        text-decoration: none;
}
.contact1{
    background-color: #9ab3f5;
    text-align: center;
    margin: 0px;
}
#icon1{
    font-size: 7rem;
    color: #7579e7;
}
.C{
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 0;
}
#warning-message { display: none; }
@media only screen and (orientation:portrait){
    #wrapper { display:none; }
    #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}
.I{
    font-size: 9rem ;
    font-weight: 900;
}